<%- include header %>
<div class="help-tips">
  <div class="tip1">
  	<h4>1.1系统登录</h4>
  	<div class="tip-content text-center">
  		用户输入正确的网址之后出现如图1所示的登录界面。输入正确的用户名和密码，点击“登录”按钮即可成功登录。
  	</div>
  </div>
  <div class="tip1">
  	<h4>1.2 中医体质测试——测试体质类型第一步：</h4>
  	<div class="tip-content text-center">
填写个人信息(1)
点击“开始测试”，出现如图2所示的问卷页面。第一步填写测试者的个人信息，其中带“*”的为必填项目。填写完成后，点击“下一步”按钮，进入问卷的下一个页面。若点击“重置”按钮，则重新填写数据。
  	</div>
  </div>
</div>
<%- include footer %>